POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_DB=
POSTGRES_PASSWORD=postgres

POSTGRES_LOCAL_PORT=5432
POSTGRES_DOCKER_PORT=5432

SPRING_LOCAL_PORT=8082
SPRING_DOCKER_PORT=8081

SHARED_GATEWAY_SECRET=
